.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

.card:hover {
  .card_img {
    transform: translateY(-50px);
    & img {
      border-radius: 10px 10px 0px 0px;
    }
  }
  .card_inner {
    opacity: 1;
    transform: translateY(-50px);
    border-radius: 0px 0px 10px 10px;
  }
}

.card_img {
  width: 300px;
  height: 300px;
  transform: translateY(0px);
  transition: opacity 1s, transform 1s;
}

.card_inner {
  width: 300px;
  height: 300px;
  background-color: var(--color-purple);
  border: 1px solid var(--text-cream);

  opacity: 0;
  transform: translateY(-300px);
  transition: opacity 1s, transform 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  font-size: 1em;

  & h6 {
    font-size: 1.2em;
  }

  & ul {
    list-style: none;
    display: flex;
    gap: 1em;
  }

  .inner_icons {
    display: flex;
    gap: 1em;
  }
}

.inner_icons a:hover {
  color: var(--color-pink);
}
