@import "./reset.css";

:root {
  --color-pink: #d8aaab;
  --color-ivory: #e3e6e3;
  --color-gray: #7a7a7a;
  --text-black: #333333;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100dvh;
}
